.textAnimation h1{
    position: relative;
}
.textAnimation h1::before{
    content: "Utsha.dev";
    color: #008bff;
    width: 100%;
    position: absolute;
    /* border-right:3px solid #008bff; */
    animation: textSlide 3s linear infinite;
    -webkit-animation: textSlide 3s linear infinite;
    -moz-animation: textSlide 3s linear infinite;
    -o-animation: textSlide 8s linear infinite;
    overflow: hidden;
}

.navSmallStyle{
    display: none;
}

nav .navMobile{
    font-size: 20px;
    font-weight: 600;
}
.navMobile li{
    transition: all 0.5s ease-in-out;
    padding-bottom: 10px;
}
.navMobile li:hover{
    /* border-bottom: 2px solid #008bff; */
    color: #008bff;
    letter-spacing: 2px;
    
}

.active{
    /* border-bottom: 2px solid #008bff; */
    color: #008bff;
    letter-spacing: 2px;
    /* padding-bottom: 12px; */
}

@keyframes textSlide {
    0%{
        width: 0%;
    }
    50%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
    
}


@media (max-width: 768px) {
    .navMobile{
        background-color:#1d1d24;
        width: 100%;
        height: 100%;
        color: #ffffff;
        padding: 40px;
        text-align: left;
        position: fixed;
        right:0;
        font-size: 20px;
        font-weight: 600;
    }
    .navMobile li{
        padding: 20px 0px;
        transition: all 0.5s ease-in-out;
    }
    li:hover{
        /* border-bottom: 4px solid #008bff; */
        color: #008bff;
        letter-spacing: 2px;
    }
    .active{
        /* border-bottom: 2px solid #008bff; */
        color: #008bff;
        letter-spacing: 2px;
        /* padding-bottom: 12px; */
    }
    /* skill component design */
    .skillNavMobile{
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-gap: 10px;
    }

}