.slideUp{
    overflow: hidden;
    height: 100px;
}
.slideUp h1{
    line-height: 100px;
}

.slideUp h1:nth-child(1){
    animation: animate 8s infinite;
}

.commonBtnOne{
    padding: 5px 25px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    transition: all 0.7s ease-in-out;
}
.commonBtnTwo{
    padding: 5px 25px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 5px solid #008bff;
    border-radius: 5px;
    color: #000000;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
}
.commonBtnOne:hover{
    background: #fff;
    color: #000000;
}
.commonBtnTwo:hover{
    background: #000000;
    border: 2px solid #fff;
    border-bottom: 5px solid #008bff;
    color: #fff;
}

/* project section style */
.projectBoxs div{
    transition: all 0.9s ease-in-out;
}
.projectBoxs div:hover{
    background-color: #000000;
}

/* about section */

.skillBoxs div{
    transition: all 0.5s ease-in-out;
}
.skillBoxs div {
    color:#008bff;
}
.skillBoxs div h1{
    color: #008bff;
}



@keyframes animate {
    0%{margin-top: -200px;}
    5%{margin-top: -180px;}
    33%{margin-top: -180px;}
    38%{margin-top: -90px;}
    66%{margin-top: -90px;}
    71%{margin-top: 0px;}
    99.99%{margin-top: 200px;}
    100%{margin-top: -200px;}
}